header {
  padding: 1em;
}

/* Nav toggle button */
.nav-toggle {
  background-color: #fff;
  border: none;
  width: 3em;
  height: 3em;
  cursor: pointer;
}

.nav-toggle-icon {
  width: 100%;
  position: relative;
}

.nav-toggle-icon,
.nav-toggle-icon::before,
.nav-toggle-icon::after {
  display: block;
  height: 3px;
  background-color: #000;
}

.nav-button-icon:before,
.nav-button-icon:after {
  content: '';
  width: 100%;
}

.nav-button-icon:before {
  transform: translateY(-6px);
}

.nav-button-icon:after {
  transform: translateY(3px);
}
